html{
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 3px solid transparent;
}